<nav class="bottom-nav">
    <a href="/home" class="nav-item">
        <span class="nav-icon"><img src="/images/icons8-home-24.png" alt="" srcset=""></span>
        <span>Home</span>
    </a>
    <a href="location.html" class="nav-item">
        <span class="nav-icon">&#x1F4CD;</span> <!-- Location icon -->
        <span>Location</span>
    </a>
    <a href="reward.html" class="nav-item">
        <span class="nav-icon">&#127942;</span> <!-- Reward icon -->
        <span>Reward</span>
    </a>
    <a href="/home/profile" class="nav-item">
        <span class="nav-icon">&#128100;</span> <!-- Profile icon -->
        <span>Profile</span>
    </a>
</nav>


<style>
.common-footer {
    background: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 660px;
}

.nav-item {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    flex: 1;
}

.nav-icon {
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
}

@media (max-width: 1200px) {
    .common-footer {
        padding: 40px;
        max-width: 90vw; /* 4x the container width */
    }

    .nav-item {
        font-size: 20px;
    }

    .nav-icon {
        font-size: 10px;
    }
}
</style>